@font-face {
    font-family: 'Inter-Semi-Bold';
    src: url("fonts/Inter_24pt-SemiBold.ttf");
}

@font-face {
    font-family: 'Inter-Medium';
    src: url("fonts/Inter_18pt-Medium.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter-Semi-Bold',sans-serif;
}

.container{
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .container{
    padding: 20px 0;
}

.menu{
    display: flex;
}

.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 10px;
}

.menu ul li{
    margin-right: 40px;
    border-bottom: 1px solid #000;
}

.menu ul li a{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    text-decoration: none;
}

.feedback{
    display: flex;
    align-items: center;
}

.order{
    box-sizing: border-box;
    padding: 15px 20px;
    border: 2px solid #000000;
    border-radius: 40px;
    background-color: #fff;
    font-family: 'Inter-Semi-Bold',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    margin-right: 20px;
    cursor: pointer;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 20px;
}

.items {
    display: flex;
    justify-content: space-around;
    min-width: 99%;
}

.item {
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee {
    animation: scroll 5s linear infinite;
}

.main{
    padding: 120px 0;
}

.main-text{
    padding-top: 66px;
    padding-bottom: 97px;
}

h1{
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 60px;
}

.text{
    max-width: 790px;
    font-family: 'Inter-Medium',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #000000;
}

.button-row-btn{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 70px;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    color: #000000;
    cursor: pointer;
}

.button-row-btn:hover{
    background: #FFE457;

}

.button-row-btn svg{
    margin-left: 10px;
}

.btn-2{
    padding-left: 111px;
    padding-right: 111px;
}

.btn-3{
    padding-left: 94px;
    padding-right: 94px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}